.sidebar {
  background: #222;
  color: white;
  padding: 1rem;
  height: 100vh;
  width: 200px;
  position: fixed;
}
.data-section {
  padding: 2rem;
  margin-left: 220px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}
.navbar {
  background-color: #0077cc;
  color: white;
  padding: 0.6rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -20px;
  margin-left: -10px;
  margin-top: -20px;
}

.navbar .logout-btn {
  background: white;
  color: #0077cc;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 9px;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.2rem;
}

.dashboard-container {
  display: flex;
}

.dashboard-content {
  flex-grow: 1;
  margin-left: 220px;
  padding: 1rem;
}

.sidebar-nav {
  margin-top: 2rem;
}

.sidebar-nav h4 {
  color: #888;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 800;
  transition: color 0.2s;
}

.sidebar-nav li a:hover {
  color: #fff;
}

.logout-button {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  right: 1rem;
  background: #dc3545;
  color: white;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 10px;
}
